body {
    margin: 0;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    margin: 0;
    font-weight: 100;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}